<h1>TODO list</h1>
<div>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <p><%= link_to task.title, task_path(task) %></p>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <%= link_to "Créer une nouvelle tâche", new_task_path %>
</div>